Client/ClientSide/src/main/java/Proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Webervice.soapserverpart.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Webervice.soapserverpart.example.com/" name="ProductWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://Webervice.soapserverpart.example.com/" schemaLocation="http://localhost:8088/?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="getProductById">
<part name="parameters" element="tns:getProductById"/>
</message>
<message name="getProductByIdResponse">
<part name="parameters" element="tns:getProductByIdResponse"/>
</message>
<message name="createProduct">
<part name="parameters" element="tns:createProduct"/>
</message>
<message name="createProductResponse">
<part name="parameters" element="tns:createProductResponse"/>
</message>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<portType name="ProductWS">
<operation name="getAllProducts">
<input wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="getProductById">
<input wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/getProductByIdRequest" message="tns:getProductById"/>
<output wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/getProductByIdResponse" message="tns:getProductByIdResponse"/>
</operation>
<operation name="createProduct">
<input wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/createProductRequest" message="tns:createProduct"/>
<output wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/createProductResponse" message="tns:createProductResponse"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://Webervice.soapserverpart.example.com/ProductWS/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
</portType>
<binding name="ProductWSPortBinding" type="tns:ProductWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductWebServiceService">
<port name="ProductWSPort" binding="tns:ProductWSPortBinding">
<soap:address location="http://localhost:8088/"/>
</port>
</service>
</definitions>